<!-- Template Helper: sidebar, which can used in different pages-->
<!--CUSTOMIZE: Build menu structure as needed-->
<nav class="col-3 col-xl-2 col-md-3 sidebar dbl-margin-top" role="navigation">
    <ul id="rootSidebar">

        <li class="sidebar__item" id="menu_all_devices">
            <a href="/all_devices" tabindex="0">
                <span class="icon-switch-outline"></span>
                <span>All Devices</span>
            </a>
        </li>

        <li class="sidebar__item" id="menu_client_count">
            <a href="/ap_summary" tabindex="0">
                <span class="icon-communities"></span>
                <span>AP Summary</span>
            </a>
        </li>

        <li class="sidebar__item" id="menu_ap_uptime">
            <a href="/ap_uptime" tabindex="0">
                <span class="icon-accesspoint-outline"></span>
                <span>AP Uptime</span>
            </a>
        </li>

        <li class="sidebar__item" id="menu_switch_uptime">
            <a href="/switch_uptime" tabindex="0">
                <span class="icon-switch-outline"></span>
                <span>Switch Uptime</span>
            </a>
        </li>

        <li class="divider"></li>

        <li class="sidebar__item" id="menu_vip_client">
            <a href="/vip_client" tabindex="0">
                <span class="icon-mobile-phone"></span>
                <span>VIP Client</span>
            </a>
        </li>

        <li class="sidebar__item" id="menu_client_performance">
            <a href="/client_performance" tabindex="0">
                <span class="icon-mobile-phone"></span>
                <span>Client Performance</span>
            </a>
        </li>

    </ul>
</nav>
<!--CUSTOMIZE END-->
